<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="assets/css/login.css">
	<script src="assets/js/jquery-3.3.1.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script type="text/javascript" src="assets/js/angular.min.js"></script>
	<script type="text/javascript"> 
		$(window).scroll(function(){
			if ($(this).scrollTop()>100){
				$('.menu').addClass("sticky");
			}
			else
			{
				$('.menu').removeClass("sticky");
			}
		})
	</script>
	
</head>
<body>
	<div class="text">
		<img class="elang" src="assets/img/logo-slemanball.png" height="130px" width="130px">
		<img class="gambarball" src="assets/img/slemanball.png" height="80px">
		<a href=Login.html><button class="button-login">Login Slemanku</button></a>
		
	</div>
	<ul class="menu">
		<li><a href="index.html">Home</a></li>
		<li><a href="News.html">News</a></li>
		<li><a href="Profil.html">Profile</a></li>
		<li><a href="Pertandingan.html">Pertandingan</a></li>
		<li><a href="Team.html">Team</a></li>
		<li><a href="Gallery.html">Gallery</a></li>
		<li><a href="Contactus.html">Contact Us</a></li>
	</ul>
	</div>
	
	<div class="tulnews"><a class="atol">Login</a></div>
	<div class="contactus">
		
	
<div class="tengah">
		<form ng-app="myApp" ng-controller="validatectrl" name="myForm" novalidate>
			<h1>Login</h1>

	<p class="font">Email :<br><br>
		<input class="inp" type="email" name="email" ng-model="email" required><br>
		<div class="redbox" ng-show="myForm.email.$dirty && myForm.email.$invalid"><br>
			<span ng-show="myForm.email.$error.required">Email wajib Di isi!</span>
			<span ng-show="myForm.email.$error.email">Format salah!</span>
		</div>
	</p>
	<p class="font">Password :<br><br>
		<input class="inp" type="password" name="user" ng-model="user" required><br>
		<div class="redbox" ng-show="myForm.user.$dirty && myForm.user.$invalid"><br>
			<span ng-show="myForm.user.$error.required">Password wajib Di isi!</span>
		</div>
	</p>
	<div class="g-recaptcha" data-sitekey="6LejK10UAAAAAI-DhoOAqPijW3Jkso_SKYuI7rA0"></div>
	<p class="font">
			<input class="register" type="submit"
			ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.user.$email && myForm.email.$invalid" value="Login">
		</p>

		
			
			
			
</form>

<a href=Register.html><button class="register">Register</button></a>
</div>














</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	</div>	
	<div class="footer1"><center>
		<a href="http://www.twitter.com"><img src="assets/img/twitter.png" height="30px" width="30px"></a>
		<a href="http://www.facebook.com"><img src="assets/img/fb.png" height="30px" width="30px"></a><br>
		<p>Copyright © 2018 Slemanball</p></center></div>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

<script>
		var app = angular.module('myApp', []);
		app.controller('validatectrl',function($scope){
			$scope.user = '';
			$scope.email ='';
		});
	</script>
</body>
</html>