body
{
	margin: 0;
	padding: 0;
	font-family: arial;
}
.text
{
	text-align:center;
	height:120px;
	background :black;
}
.text h1{
	margin:0;
	line-height:100px;
	color:#fff;
	font-size:48px;
}
ul
{
	margin: 0;
	padding-left: 180px;
	background : black;
	color:#fff;
	display:flex;
}
ul li{
	list-style:none;
}
ul li a
{
	text-decoration:none;
	color:#fff;
	padding:20px;
	display:block;
font-family:lucida console;
	font-size:20px;
}
section
{
	height:300px;
}
.sticky{
	position:fixed;
	top:0;
	left:0;
	width:100%;
}
.conthead{
	height: 120px;
	width: 100%;
	background-image: url(assets/img/header.png);
}
.navbar{
	height: 40px;
	background-color: black;
}
.button-flat {
	border: transparent;      
	background: transparent;    
	color: #FFFFFF;                   
	font-size: 16px;                  
	padding: 0.5em 1em 0.5em 1em;     
}
.button-flat:hover {
	opacity: 0.8;                     
}
.button-flat:active {
	background: #550000;              
}
.tulnews{
	height:80px;
	background-color:#009999;
	color: white;
	padding-top:10px;


}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #006666;
    background-color:#006666;
    color: white;
}
.button:hover  {
    background-color:white;
    color:#006666;
}

.contactus{

	display: flex;
	height: 800px;
	background-color: teal;
	padding-left:100px;
	color: white;
}
.tengah{
	padding-left:30%;
	padding-top:10%;
	width: 400px;
	height: 220px;
	background-color: teal;
	opacity: 100%;
}
.info{
		width: 1037px;
		height: 440px;
		margin-left: 20px;
		margin-bottom: 20px;
		margin-right: 20px;
		background-color: lightblue;
		margin-top: 20px;
	}

.footer1{
	height: 100px;
	background-color: black;
	color: white;
	padding-top: 20px;
}
.search {
    margin-left: 250px;
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid white;
    color: white;
}
.gambarball{
	position: absolute;
	top: 15px;
	left: 190px;

}

.elang{
	position: absolute;
	top: 15px;
	left: 30px;
}
.geser{
	position: absolute;
	left: 180px;
	top: 115px;
}
.atol{
	padding-left:40px;
	font-family: impact;
	font-size: 50px;
}
.button-login {
	border: transparent;      
	background: #009999;    
	color: #FFFFFF;                   
	font-family: Tw Cen MT;                 
	font-size: 18px;                 
	padding: 0.5em 1em 0.5em 1em;   
	position: absolute;
	top: 10px;
	right: 50px;  
}
.button-login:hover {
	opacity: 0.8;                     
}
.button-login:active {
	background: #550000;              
}
.register {

    padding:6px 60px;
    left:-8px;
    border:2px solid #006666;
    background-color:#33CC99;
    color: black;
    width:365px;
	height:45px;
	font-family:impact;
	font-size:20px;
}
.register:hover  {
    background-color:white;
    color:#006666;
}
body
{
	margin: 0;
	padding: 0;
	font-family: arial;
}
.inp
{
	width:360px;
	height:40px;
	border:none;
	border-radius:4px;
}
.btn{
	width:360px;
	height:45px;
	border:none;
	border-radius:4px;


}
#myBtn {
   
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: white; 
    color: black; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#myBtn:hover {
    background-color: #555; 
}
.redbox{
	width:350px;
	height:60px;
	background-color:red;
	color:white;
	text-align:center;
	padding-left:10px;
	border:solid;
	border-radius:8px;
	border-color:black;
}
h1{
	font-family:impact;
	font-size:50px;
}
.font{
	font-family:Tw Cen MT;
	font-style:bold;
	font-size:30px;
}
